version: 2
updates:
  - package-ecosystem: github-actions
    assignees:
      - GardOS
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
    cooldown:
      default-days: 4
    open-pull-requests-limit: 10
    groups:
      workflows:
        patterns:
          - "*"
