name: Build maven app
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'
      java-version:
        required: false
        type: string
        description: 'Which Java SDK version to build app.'
        default: '21'
      build-image:
        required: false
        type: boolean
        description: 'Build docker image?'
        default: true
      push-image:
        required: false
        type: boolean
        description: 'Push docker image?'
        default: false
      skip-tests:
        description: 'Skip tests'
        type: boolean
        required: false
        default: false
      byosbom:
        description: 'Bring your own SBOM, required for nested dependencies in maven'
        type: string
        required: false
        default: 'auto-generate-for-me-please.json' # This is the default value in nais/docker-build-push.
    outputs:
      image:
        description: 'Image name'
        value: ${{ jobs.build-maven-app.outputs.image }}
jobs:
  build-maven-app:
    name: Build maven app
    permissions:
      contents: read # docker-build-push
      id-token: write # docker-build-push
    runs-on: ${{ inputs.runs-on }}
    env:
      TZ: 'Europe/Oslo'
    outputs:
      image: ${{ steps.build-push-docker-image.outputs.image }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - name: Setup java and maven
        uses: navikt/familie-baks-gha-workflows/.github/actions/setup-java-maven@main # ratchet:exclude
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          java-version: ${{ inputs.java-version }}
      - name: Maven install
        uses: navikt/familie-baks-gha-workflows/.github/actions/build-maven@main # ratchet:exclude
        env:
          TESTCONTAINERS_REUSE_ENABLE: true
        with:
          skip-tests: ${{ inputs.skip-tests }}
      # This check is actually required for the value to be passed along. The runner seems to "forget" the value if it is not used in a step.
      - name: Check if byosbom exists
        if: ${{ inputs.byosbom != '' }}
        run: |
          if [ -s "${{ inputs.byosbom }}" ]; then
            echo "SBOM file exists and has content"
          else
            echo "SBOM file not found"
          fi
      - name: Build and push docker image
        id: build-push-docker-image
        if: inputs.build-image
        uses: navikt/familie-baks-gha-workflows/.github/actions/build-push-docker-image@main # ratchet:exclude
        with:
          push-image: ${{ inputs.push-image }}
          byosbom: ${{ inputs.byosbom }}
      - name: Display image name
        if: steps.build-push-docker-image.outputs.image != ''
        run: |
          echo "## Image name" >> $GITHUB_STEP_SUMMARY
          echo "\`${{ steps.build-push-docker-image.outputs.image }}\`" >> $GITHUB_STEP_SUMMARY
