name: Build yarn app
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'
      node-version:
        required: false
        type: string
        description: 'Which Node version to build app.'
        default: '24'
      build-image:
        required: false
        type: boolean
        description: 'Build docker image?'
        default: true
      push-image:
        required: false
        type: boolean
        description: 'Push docker image?'
        default: false
      skip-tests:
        required: false
        type: boolean
        description: 'Skip tests?'
        default: false
      skip-validation:
        required: false
        type: boolean
        description: 'Skip validation?'
        default: false
      skip-cypress:
        required: false
        type: boolean
        description: 'Skip cypress?'
        default: true
      build-profile:
        required: false
        type: string
        description: 'Profile to build with. "yarn build:<profile>".'
        default: ''
    outputs:
      image:
        description: 'Image name'
        value: ${{ jobs.build-yarn-app.outputs.image }}
jobs:
  build-yarn-app:
    name: Build yarn app
    permissions:
      contents: read # nais/docker-build-push
      id-token: write # nais/docker-build-push
    runs-on: ${{ inputs.runs-on }}
    env:
      TZ: 'Europe/Oslo'
    outputs:
      image: ${{ steps.build-push-docker-image.outputs.image }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - name: Set up node and install yarn packages
        uses: navikt/familie-baks-gha-workflows/.github/actions/setup-node-yarn@main # ratchet:exclude
        with:
          node-version: ${{ inputs.node-version }}
          reader-token: ${{ secrets.READER_TOKEN }}
      - name: Yarn build
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_RELEASE: ${{ github.sha }}
        run: |
          if [ -z "${{ inputs.build-profile }}" ]; then
            yarn build
          else
            yarn build:${{ inputs.build-profile }}
          fi
      - name: Run validate
        if: ${{ !inputs.skip-validation }}
        run: yarn validate
      - name: Run tests
        if: ${{ !inputs.skip-tests }}
        run: yarn test
      - name: Run cypress
        if: ${{ !inputs.skip-cypress }}
        run: yarn cypress
      - name: Build and push docker image
        id: build-push-docker-image
        if: inputs.build-image
        uses: navikt/familie-baks-gha-workflows/.github/actions/build-push-docker-image@bruk-build-profile-for-image-navn # ratchet:exclude
        with:
          push-image: ${{ inputs.push-image }}
          image-suffix: ${{ inputs.build-profile }}
      - name: Display image name
        if: steps.build-push-docker-image.outputs.image != ''
        run: |
          echo "## Image name" >> $GITHUB_STEP_SUMMARY
          echo "\`${{ steps.build-push-docker-image.outputs.image }}\`" >> $GITHUB_STEP_SUMMARY
