name: Deploy
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
        description: 'Image to deploy (full path) example: europe-north1-docker.pkg.dev/nais-management-233d/teamfamilie/familie-ks-sak:2025.02.20-18.48-c123d9b'
      cluster:
        required: true
        type: string
        description: 'The cluster to deploy to (dev-fss|dev-gcp|prod-fss|prod-gcp)'
      resource:
        required: true
        type: string
        description: 'The path to the nais (yaml) resource file to use'
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'

jobs:
  deploy:
    name: Deploy
    permissions:
      contents: read
      id-token: write # nais/deploy
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - name: Deploy to ${{ inputs.cluster }} from GAR
        uses: navikt/familie-baks-gha-workflows/.github/actions/deploy@main # ratchet:exclude
        with:
          cluster: ${{ inputs.cluster }}
          resource: ${{ inputs.resource }}
          image: ${{ inputs.image }}
