name: Manual deploy
on:
  workflow_call:
    inputs:
      image-tag:
        required: true
        type: string
        description: 'Image tag to deploy (example 2025.02.20-18.48-c123d9b)'
      cluster:
        required: true
        type: string
        description: 'The cluster to deploy to (dev-fss|dev-gcp|prod-fss|prod-gcp)'
      resource:
        required: true
        type: string
        description: 'The path to the nais (yaml) resource file to use'
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'

env:
  IMAGE_PATH: europe-north1-docker.pkg.dev/nais-management-233d/teamfamilie/${{ github.event.repository.name }}

jobs:
  manual-deploy:
    name: Manual deploy
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
      - name: Deploy to ${{ inputs.cluster }} from GAR
        uses: navikt/familie-baks-gha-workflows/.github/actions/deploy@main # ratchet:exclude
        with:
          cluster: ${{ inputs.cluster }}
          resource: ${{ inputs.resource }}
          image: ${{ env.IMAGE_PATH }}:${{ inputs.image-tag }}
