name: Scan vulnerabilities yarn
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'
      node-version:
        required: false
        type: string
        description: 'Which Node version to build app.'
        default: '24'
jobs:
  scan-vulnerabilities:
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: write # to write sarif
      security-events: write # push sarif to github security
      id-token: write # nais/login
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - name: Logger inn med nais
        uses: nais/login@v0
        with:
          team: teamfamilie
      # CodeQL scan
      - name: Initialize CodeQL
        uses: github/codeql-action/init@014f16e7ab1402f30e7c3329d33797e7948572db # ratchet:github/codeql-action/init@v3
        with:
          languages: javascript-typescript, actions
          config: |
            paths-ignore:
              - node_modules/
              - dist/
      - name: Set up node and install yarn packages
        uses: navikt/familie-baks-gha-workflows/.github/actions/setup-node-yarn@main # ratchet:exclude
        with:
          node-version: ${{ inputs.node-version }}
          reader-token: ${{ secrets.READER_TOKEN }}
      - name: Yarn build
        run: yarn build
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@014f16e7ab1402f30e7c3329d33797e7948572db # ratchet:github/codeql-action/analyze@v3
      # Trivy scan
      - name: Build docker image
        id: build-docker-image
        uses: navikt/familie-baks-gha-workflows/.github/actions/build-docker-image@main # ratchet:exclude
      - name: Run Trivy vulnerability scanner and upload results
        uses: navikt/familie-baks-gha-workflows/.github/actions/trivy@main # ratchet:exclude
        with:
          image: ${{ steps.build-docker-image.outputs.image-ref }}
