name: Scan vulnerabilities yarn
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'
      node-version:
        required: false
        type: string
        description: 'Which Node version to build app.'
        default: '24'
    secrets:
      READER_TOKEN:
        required: false
jobs:
  scan-vulnerabilities:
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: write # to write sarif
      security-events: write # push sarif to github security
      id-token: write # nais/login
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
      - name: Logger inn med nais
        uses: nais/login@e7cf2c159677dc7c7d599feff5f808f2bf59c7cf # ratchet:nais/login@v0
        with:
          team: teamfamilie
      # CodeQL scan
      - name: Initialize CodeQL
        uses: github/codeql-action/init@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # ratchet:github/codeql-action/init@v4
        with:
          languages: javascript-typescript, actions
          config: |
            paths-ignore:
              - node_modules/
              - dist/
              - dist_frontend/
              - dist_backend/
              - frontend_production/
      - name: Set up node and install yarn packages
        uses: navikt/familie-baks-gha-workflows/.github/actions/setup-node-yarn@main # ratchet:exclude
        with:
          node-version: ${{ inputs.node-version }}
          reader-token: ${{ secrets.READER_TOKEN }}
      - name: Yarn build
        run: yarn build
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # ratchet:github/codeql-action/analyze@v4
      # Trivy scan
      - name: Build docker image
        id: build-docker-image
        uses: navikt/familie-baks-gha-workflows/.github/actions/build-docker-image@main # ratchet:exclude
      - name: Run Trivy vulnerability scanner and upload results
        uses: navikt/familie-baks-gha-workflows/.github/actions/trivy@main # ratchet:exclude
        with:
          image: ${{ steps.build-docker-image.outputs.image-ref }}
