name: Scan vulnerabilities maven
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'
      java-version:
        required: false
        type: string
        description: 'Which Java SDK version to build app.'
        default: '21'
jobs:
  scan-vulnerabilities:
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: write # to write sarif
      security-events: write # push sarif to github security
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # ratchet:step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      # CodeQL scan
      - name: Initialize CodeQL
        uses: github/codeql-action/init@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # ratchet:github/codeql-action/init@v4
        with:
          languages: java-kotlin, actions
          config: |
            paths-ignore:
              - target/
      - name: Setup java and maven
        uses: navikt/familie-baks-gha-workflows/.github/actions/setup-java-maven@main # ratchet:exclude
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          java-version: ${{ inputs.java-version }}
      - name: Maven compile
        uses: navikt/familie-baks-gha-workflows/.github/actions/build-maven@main # ratchet:exclude
        with:
          maven-command: 'clean package'
          skip-tests: true
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # ratchet:github/codeql-action/analyze@v4
      # Trivy scan
      - name: Build docker image
        id: build-docker-image
        uses: navikt/familie-baks-gha-workflows/.github/actions/build-docker-image@main # ratchet:exclude
      - name: Run Trivy vulnerability scanner and upload results
        uses: navikt/familie-baks-gha-workflows/.github/actions/trivy@main # ratchet:exclude
        with:
          image: ${{ steps.build-docker-image.outputs.image-ref }}
