name: Sonar
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: 'Which runner image to run the workflow.'
        default: 'ubuntu-latest'
      java-version:
        required: false
        type: string
        description: 'Which Java SDK version to build app.'
        default: '21'
      coverage-flag:
        required: false
        type: string
        default: '-Dsonar.coverage.jacoco.xmlReportPaths'
      unit-test-artifact-name:
        required: false
        type: string
        default: 'enhetstest'
      unit-test-artifact-path:
        required: false
        type: string
        default: 'coverage/enhetstest'
      integration-test-artifact-name:
        required: false
        type: string
        default: 'integrasjonstest'
      integration-test-artifact-path:
        required: false
        type: string
        default: 'coverage/integrasjonstest'
    secrets:
      SONAR_TOKEN:
        required: true
jobs:
  sonar:
    if: github.actor != 'dependabot[bot]' && github.event_name != 'merge_group'
    name: Sonar
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup java and maven
        uses: navikt/familie-baks-gha-workflows/.github/actions/setup-java-maven@main # ratchet:exclude
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          java-version: ${{ inputs.java-version }}
      - name: Download unit test report artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # ratchet:actions/download-artifact@v7
        with:
          name: ${{ inputs.unit-test-artifact-name }}
          path: ${{ inputs.unit-test-artifact-path }}
      - name: Download integration test report artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # ratchet:actions/download-artifact@v7
        with:
          name: ${{ inputs.integration-test-artifact-name }}
          path: ${{ inputs.integration-test-artifact-path }}
      - name: Cache Sonar packages
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # ratchet:actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Sonar
        env:
          MAVEN_OPTS: "-Xmx4g -Dmaven.artifact.threads=10"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn sonar:sonar ${{ inputs.coverage-flag }}="${{ inputs.unit-test-artifact-path }}/${{ inputs.unit-test-artifact-name }}.xml,${{ inputs.integration-test-artifact-path }}/${{ inputs.integration-test-artifact-name }}.xml"
